{% extends '/modules/form_modal.html.twig' %}

{% block title %} {{user.username}} {{user.email}} {% endblock %}

{% block form %} 
   {{ form_start(form, {'attr':{'id':'edit_user_form', 'class': 'form_edit' }, 'method': 'POST', 'action': path('security_edit', {'id':user.id} )} ) }}
      {% include '/security/form.html.twig' %}  
   {{ form_end(form) }}
   <script>$("#popup").modal('show'); //Afficher le modal</script>
{% endblock %}


{% block footer %}   
   
   <a href="{{path('security_list')}}">
         <button type="button" class="btn btn-link">Retourner à la liste des utilisateurs</button>         
   </a> 

   <form method="POST" action="{{ path('security_delete', {'id': user.id }) }}" id='delete_user_form'>
      <button type="submit" onclick='return confirm("Voulez-vous vraimment le supprimer: {{ user.username }}  ")' class="btn btn-danger" >Supprimer</button>
   </form>
   
  <button type="button" onclick="form_modal_submit()" form="edit_user_form" class="btn btn-primary">Sauvegarder</button>
{% endblock %}

{% block idToReload %}mainContent{% endblock %}






