{% extends 'modules/form_modal.html.twig' %}

{% block title %} {{employee.name}} {{employee.firstname}} {% endblock %}

{% block form %} 
   {{ form_start(form, {'attr':{'id':'edit_employee_form', 'class': 'form_edit' }, 'method': 'POST', 'action': path('employee_edit', {'id':employee.id} )} ) }}
      {% include 'employee/form.html.twig' %}  
   {{ form_end(form) }}
   <script>$("#popup").modal('show'); //Afficher le modal</script>
{% endblock %}


{% block footer %}   
   <a href="{{path('employee')}}">
         <button type="button" class="btn btn-link">Retourner à la liste des employés</button>         
      </a>
   <form method="POST" action="{{ path('employee_delete', {'id': employee.id }) }}" id='delete_employee_form'>
      <button type="submit" onclick='return confirm("Voulez-vous vraimment le supprimer: {{ employee.name }}  ")' class="btn btn-danger" >Supprimer</button>
   </form>
   
  <button type="button" onclick="form_modal_submit()" form="edit_employee_form" class="btn btn-primary">Sauvegarder</button>
{% endblock %}

{% block idToReload %}mainContent{% endblock %}






